﻿
@{
    ViewBag.Title = "AcompanharLocacao";
}

<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>D.E.L.F.T - Histórico de Compras</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="~/Content/_bootstrap//bootstrap.min.css">
    <script src="~/Content/js/bootstrap.min.js"></script>


</head>



<body>
    @{ Html.RenderPartial("_navbar"); }

    <br>

    <div class="container-fluid">
        <div class="row">

            @{ Html.RenderPartial("UsuarioComum/_sidebar"); }

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <h2>Pedidos</h2>
                <span class="d-block p-2 bg-dark text-white"><a style="text-align:center">Pedido 10</a><button type="button" class="btn btn-outline-warning btn-sm" data-toggle="collapse" data-target="#demo10" style="float:right">Visualizar</button></span>

                <div id="demo10" class="collapse">
                    <br>
                    <p>Número do pedido: 07473 | Data: 07/08/2018 | Valor: 564,38 | Status: Em separação</p>
                </div>

                <span class="d-block p-2 bg-dark text-white"><a style="text-align:center">Pedido 9</a><button type="button" class="btn btn-outline-warning btn-sm" data-toggle="collapse" data-target="#demo9" style="float:right">Visualizar</button></span>

                <div id="demo9" class="collapse">
                    <br>
                    <p>Número do pedido: 07473 | Data: 07/08/2018 | Valor: 564,38 | Status: Em separação</p>
                </div>

                <span class="d-block p-2 bg-dark text-white"><a style="text-align:center">Pedido 8</a><button type="button" class="btn btn-outline-warning btn-sm" data-toggle="collapse" data-target="#demo8" style="float:right">Visualizar</button></span>

                <div id="demo8" class="collapse">
                    <br>
                    <p>Número do pedido: 07473 | Data: 07/08/2018 | Valor: 564,38 | Status: Em separação</p>
                </div>

                <span class="d-block p-2 bg-dark text-white"><a style="text-align:center">Pedido 7</a><button type="button" class="btn btn-outline-warning btn-sm" data-toggle="collapse" data-target="#demo7" style="float:right">Visualizar</button></span>

                <div id="demo7" class="collapse">
                    <br>
                    <p>Número do pedido: 07473 | Data: 07/08/2018 | Valor: 564,38 | Status: Em separação</p>
                </div>

                <span class="d-block p-2 bg-dark text-white"><a style="text-align:center">Pedido 6</a><button type="button" class="btn btn-outline-warning btn-sm" data-toggle="collapse" data-target="#demo6" style="float:right">Visualizar</button></span>

                <div id="demo6" class="collapse">
                    <br>
                    <p>Número do pedido: 07473 | Data: 07/08/2018 | Valor: 564,38 | Status: Em separação</p>
                </div>
                <span class="d-block p-2 bg-dark text-white"><a style="text-align:center">Pedido 5</a><button type="button" class="btn btn-outline-warning btn-sm" data-toggle="collapse" data-target="#demo1" style="float:right">Visualizar</button></span>

                <div id="demo1" class="collapse">
                    <br>
                    <p>Número do pedido: 07473 | Data: 07/08/2018 | Valor: 564,38 | Status: Em separação</p>
                </div>

                <span class="d-block p-2 bg-dark text-white"><a style="text-align:center">Pedido 4</a> <button type="button" class="btn btn-outline-warning btn-sm" data-toggle="collapse" data-target="#demo2" style="float:right">Visualizar</button></span>

                <div id="demo2" class="collapse">
                    <br>
                    <p>Número do pedido: 07473 | Data: 07/08/2018 | Valor: 564,38 | Status: Em separação</p>
                </div>

                <span class="d-block p-2 bg-dark text-white"><a style="float: center">Pedido 3</a> <button type="button" class="btn btn-outline-warning btn-sm" data-toggle="collapse" data-target="#demo3" style="float:right">Visualizar</button></span>

                <div id="demo3" class="collapse">
                    <br>
                    <p>Número do pedido: 07473 | Data: 07/08/2018 | Valor: 564,38 | Status: Em separação</p>
                </div>

                <span class="d-block p-2 bg-dark text-white"><a style="float: center">Pedido 2</a> <button type="button" class="btn btn-outline-warning btn-sm" data-toggle="collapse" data-target="#demo4" style="float:right">Visualizar</button></span>

                <div id="demo4" class="collapse">
                    <br>
                    <p>Número do pedido: 07473 | Data: 07/08/2018 | Valor: 564,38 | Status: Em separação</p>
                </div>

                <span class="d-block p-2 bg-dark text-white"><a style="float: center">Pedido 1</a> <button type="button" class="btn btn-outline-warning btn-sm" data-toggle="collapse" data-target="#demo5" style="float:right">Visualizar</button></span>

                <div id="demo5" class="collapse">
                    <br>
                    <p>Número do pedido: 07473 | Data: 07/08/2018 | Valor: 564,38 | Status: Em separação</p>
                </div>



            </main>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Content/js/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="~/Content/js/jquery-slim.min.js"><\/script>')</script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>

    <!-- Graphs -->
    <script src="js/Chart.min.js"></script>
    <script>
        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
                datasets: [{
                    data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
                    lineTension: 0,
                    backgroundColor: 'transparent',
                    borderColor: '#007bff',
                    borderWidth: 4,
                    pointBackgroundColor: '#007bff'
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: false
                        }
                    }]
                },
                legend: {
                    display: false,
                }
            }
        });
    </script>
</body>
</html>

