﻿@model IEnumerable<EquipeDelft.Models.Entidades.Locacao>
@{
    ViewBag.Title = "Contratos";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>D.E.L.F.T - Contratos</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="~/Content/_bootstrap//bootstrap.min.css">
    <script src="~/Content/js/bootstrap.min.js"></script>
</head>

<body>
    @{ Html.RenderPartial("_navbar"); }

    <br>

    <div class="container-fluid">
        <div class="row">

            @{ Html.RenderPartial("UsuarioComum/_sidebar"); }


            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2"></h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                        </div>
                    </div>
                </div>

                <h2><center>Contratos   </center></h2>
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>Contrato</th>
                                <th>CPF/CNPJ</th>
                                <th>Data de Início</th>
                                <th>Data de Término</th>
                                <th>Extensão</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var l in Model){
                                <tr>

                                    <td>XXXXXXXX</td>
                                    <td>YYYYYYYYY</td>
                                    <td>@l.Inicio</td>
                                    <td>@l.Fim</td>
                                    <td><a class="nav-link" href="ExtenderContrato">Solicitar</a></td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-3.3.1.slim.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
                datasets: [{
                    data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
                    lineTension: 0,
                    backgroundColor: 'transparent',
                    borderColor: '#007bff',
                    borderWidth: 4,
                    pointBackgroundColor: '#007bff'
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: false
                        }
                    }]
                },
                legend: {
                    display: false,
                }
            }
        });
    </script>
</body>
</html>
