﻿
@{
    ViewBag.Title = "ExtenderContrato";
}

<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>D.E.L.F.T - Extender Contratos</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="~/Content/_bootstrap/bootstrap.min.css">
    <script src="~/Content/js/bootstrap.min.js"></script>
</head>

<body>
    @{ Html.RenderPartial("_navbar"); }

    <br>

    <div class="container-fluid">
        <div class="row">

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2"></h1>
                </div>

                <h2>Extender Contratos</h2>

                <div class="col-md-8 order-md-1">
                    <form class="needs-validation" novalidate>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="NumeroContrato"><h6>Numero do Contrato</h6></label>
                                <input type="number" class="form-control" id="NumeroContrato" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="CPF"><h6>CNPJ/CPF</h6></label>
                                <input type="number" class="form-control" id="CPF" required>
                            </div>


                            <div class="col-md-6 mb-3">
                                <h6 class="mb-3">Deseja solicitar tempo adicional?</h6>
                                <div class="custom-control custom-radio">
                                    <input id="SimTempo" name="tempo" type="radio" class="custom-control-input" checked required>
                                    <label class="custom-control-label" for="SimTempo">Sim</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="NaoTempo" name="tempo" type="radio" class="custom-control-input" required>
                                    <label class="custom-control-label" for="NaoTempo">Não</label>
                                </div>
                                <br>
                                <div>
                                    <label for="tempoAdicional">Se sim, defina o tempo</label>
                                    <a><input type="text" class="form-control" id="tempoAdicional" placeholder="00/00/0000"><h6>à</h6><input type="text" class="form-control" id="tempoAdicional" placeholder="00/00/0000"></a>

                                </div>
                                <br>


                                <div class="mb-3">
                                    <h6 class="mb-3">Deseja solicitar equipamentos adicionais?</h6>
                                    <div class="custom-control custom-radio">
                                        <input id="SimEquipamentos" name="equipamentos" type="radio" class="custom-control-input" checked required>
                                        <label class="custom-control-label" for="SimEquipamentos">Sim</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input id="NaoEquipamentos" name="equipamentos" type="radio" class="custom-control-input" required>
                                        <label class="custom-control-label" for="NaoEquipamentos">Não</label>
                                    </div>
                                    <br>
                                    <div class="mb-3">
                                        <label for="equipamentoAdicional">Se sim, defina o código do equipamento adicional</label>
                                        <input type="text" class="form-control" id="equipamentoAdicional">

                                    </div>
                                    <br>


                                    <div class="d-block my-3">
                                        <h6 class="mb-3">Deseja solicitar serviço técnico adicional?</h6>
                                        <div class="custom-control custom-radio">
                                            <input id="SimTecnico" name="tecnico" type="radio" class="custom-control-input" checked required>
                                            <label class="custom-control-label" for="SimTecnico">Sim</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input id="NaoTecnico" name="tecnico" type="radio" class="custom-control-input" required>
                                            <label class="custom-control-label" for="NaoTecnico">Não</label>
                                        </div>
                                        <br>
                                        <div class="mb-3">
                                            <label for="servicoAdicional">Se sim, defina o tipo de serviço e a data</label>
                                            <input type="text" class="form-control" id="servicoAdicional">
                                        </div>

                                        <a href="Contratos">Concluir</a>
                                        <br>

                                    </div>
                                </div>

                                <!-- Bootstrap core JavaScript
                                ================================================== -->
                                <!-- Placed at the end of the document so the pages load faster -->
                                <script src="~/Content/js/jquery-3.3.1.slim.min.js"></script>
                                <script>window.jQuery || document.write('<script src="~/Content/js/jquery-slim.min.js"><\/script>')</script>
                                <script src="~/Content/js/popper.min.js"></script>
                                <script src="~/Content/js/bootstrap.min.js"></script>

                                <!-- Icons -->
                                <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
                                <script>
                                    feather.replace()
                                </script>

                                <!-- Graphs -->
                                <script src="js/Chart.min.js"></script>
                                <script>
                                    var ctx = document.getElementById("myChart");
                                    var myChart = new Chart(ctx, {
                                        type: 'line',
                                        data: {
                                            labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
                                            datasets: [{
                                                data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
                                                lineTension: 0,
                                                backgroundColor: 'transparent',
                                                borderColor: '#007bff',
                                                borderWidth: 4,
                                                pointBackgroundColor: '#007bff'
                                            }]
                                        },
                                        options: {
                                            scales: {
                                                yAxes: [{
                                                    ticks: {
                                                        beginAtZero: false
                                                    }
                                                }]
                                            },
                                            legend: {
                                                display: false,
                                            }
                                        }
                                    });
                                </script>
</body>
</html>