﻿@model IEnumerable<EquipeDelft.Models.Entidades.Produto>

@{
    ViewBag.Title = "FazerPedido";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>D.E.L.F.T - Concluir Pedido</title>
    <link rel="stylesheet" href="~/Content/_bootstrap/bootstrap.min.css">
    <script src="~/Content/js/bootstrap.min.js"></script>
</head>

<body class="bg-light">

    <div class="container">
        <div class="py-5 text-center">
            <h2>Concluir Pedido</h2>
            <p class="lead">Preencha abaixo alguma informações para finalizar o seu pedido</p>
        </div>

        <div class="row">
            <div class="col-md-4 order-md-2 mb-4">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Seu Carrinho</span>
                    <span class="badge badge-secondary badge-pill">3</span>
                </h4>


                <ul class="list-group mb-3">
                    @foreach (var item in Model)
                    {
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">@item.Nome</h6>
                                <small class="text-muted">Breve descrição</small>
                            </div>
                            <span class="text-muted">R$12,00</span>
                        </li>
                    }

                    <li class="list-group-item d-flex justify-content-between bg-light">
                        <div class="text-success">
                            <h6 class="my-0">Cupom de desconto</h6>
                            <small>CODIGOEXEMPLO</small>
                        </div>
                        <span class="text-success">-R$5,00</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total (R$)</span>
                        <strong>R$20,00</strong>
                    </li>
                </ul>

                <form class="card p-2">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Cupom de desconto">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-secondary">Resgatar</button>
                        </div>
                    </div>
                </form>
            </div>


            @using (Html.BeginForm())
            {
                <div class="col-md-8 order-md-1">
                    <h4 class="mb-3">Endereço de Cobrança</h4>
                    <form class="needs-validation" novalidate>


                        <div class="mb-3">
                            <label for="address">Endereço de Entrega</label>
                            <input type="text" class="form-control" id="address" placeholder="Rua A, 123 - Vila O" required>
                            <div class="invalid-feedback">
                                <p></p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="address">Data Inicio</label>
                            <input type="date" class="form-control" id="inicio" name="dataInicio" placeholder="dd/mm/aaaa" required>
                            <div class="invalid-feedback">
                                <p></p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="address">Data Fim</label>
                            <input type="date" class="form-control" id="fim" name="dataFim" placeholder="dd/mm/aaaa" required>
                            <div class="invalid-feedback">
                                <p></p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="address2">Endereço 2 <span class="text-muted">(Opcional)</span></label>
                            <input type="text" class="form-control" id="address2" placeholder="Casa ou apartamento">
                        </div>
                        <p></p>
                        <div class="row">
                            <div class="col-md-5 mb-3">
                                <label for="country">País</label>
                                <select class="custom-select d-block w-100" id="country" required>
                                    <option value="">Selecione...</option>
                                    <option>Brasil</option>
                                </select>
                                <div class="invalid-feedback">
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="state">Estado</label>
                                <select class="custom-select d-block w-100" id="state" required>
                                    <option value="">Selecione...</option>
                                    <option>São Paulo</option>
                                </select>
                                <div class="invalid-feedback">
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="zip">CEP</label>
                                <input type="text" class="form-control" id="zip" placeholder="" required>
                                <div class="invalid-feedback">
                                </div>
                            </div>
                        </div>
                        <hr class="mb-4">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="same-address">
                            <label class="custom-control-label" for="same-address">Endereço de entrega é o mesmo do que o meu endereço de cobrança</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="save-info">
                            <label class="custom-control-label" for="save-info">Salve esta informação para a próxima vez</label>
                        </div>
                        <hr class="mb-4">

                        <h4 class="mb-3">Pagamento</h4>

                        <div class="d-block my-3">
                            <div class="custom-control custom-radio">
                                <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                                <label class="custom-control-label" for="credit">Cartão de Crédito</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
                                <label class="custom-control-label" for="debit">Cartão de Débito</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
                                <label class="custom-control-label" for="paypal">PayPal</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="cc-name">Nome no cartão</label>
                                <input type="text" class="form-control" id="cc-name" placeholder="" required>
                                <small class="text-muted">Nome completo como impresso no cartão</small>
                                <div class="invalid-feedback">
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="cc-number">Número do cartão de crédito</label>
                                <input type="text" class="form-control" id="cc-number" placeholder="" required>
                                <div class="invalid-feedback">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <label for="cc-expiration">Validade</label>
                                <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                                <div class="invalid-feedback">
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="cc-cvv">Código de Segurança</label>
                                <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                                <div class="invalid-feedback">
                                </div>
                            </div>
                        </div>
                        <hr class="mb-4">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Concluir compra</button>
                    </form>
                </div>
            }
            </div>

        

        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy; 2017-2018 D.E.L.F.T</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Privacidade</a></li>
                <li class="list-inline-item"><a href="#">Termos</a></li>
                <li class="list-inline-item"><a href="#">Suporte</a></li>
            </ul>
        </footer>
    </div>

</body>
</html>

