﻿
@{
    ViewBag.Title = "HistoricoDeCompras";
}

<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>D.E.L.F.T - Histórico de Compras</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/_bootstrap/bootstrap.min.css" rel="stylesheet">
    <script src="~/Content/js/bootstrap.min.js"></script>

    <script src="//code.jquery.com/jquery-1.10.2.js"></script>


    <script src="//code.jquery.com/jquery-1.10.2.js"></script>

    <script>

        $(function(){
          $("#header").load("elementos_comuns/sticky_profile.html");
          $("#footer").load("footer.html");
        });
    </script>


</head>

<body>
    @{ Html.RenderPartial("_navbar"); }
    <br>

    <div class="container-fluid">
        <div class="row">

            @{ Html.RenderPartial("UsuarioComum/_sidebar"); }


            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2"></h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                        </div>
                    </div>
                </div>

                <h2>Histórico de Pedidos</h2>
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>Número do Pedido</th>
                                <th>Data da Compra</th>
                                <th>Valor</th>
                                <th>Situação</th>
                                <th>Forma de Pagamento</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1,001</td>
                                <td>23/09/2017</td>
                                <td>R$2.000,00</td>
                                <td>Aguardando Pagamento</td>
                                <td>Boleto Bancário</td>
                            </tr>
                            <tr>
                                <td>1,002</td>
                                <td>23/09/2017</td>
                                <td>R$2.000,00</td>
                                <td>Aguardando Pagamento</td>
                                <td>Boleto Bancário</td>
                            </tr>
                            <tr>
                                <td>1,003</td>
                                <td>23/09/2017</td>
                                <td>R$2.000,00</td>
                                <td>Aguardando Pagamento</td>
                                <td>Boleto Bancário</td>
                            </tr>
                            <tr>
                                <td>1,003</td>
                                <td>23/09/2017</td>
                                <td>R$2.000,00</td>
                                <td>Aguardando Pagamento</td>
                                <td>Boleto Bancário</td>
                            </tr>
                            <tr>
                                <td>1,004</td>
                                <td>23/09/2017</td>
                                <td>R$2.000,00</td>
                                <td>Aguardando Pagamento</td>
                                <td>Boleto Bancário</td>
                            </tr>
                            <tr>
                                <td>1,005</td>
                                <td>23/09/2017</td>
                                <td>R$2.000,00</td>
                                <td>Aguardando Pagamento</td>
                                <td>Boleto Bancário</td>
                            </tr>
                            <tr>
                                <td>1,006</td>
                                <td>23/09/2017</td>
                                <td>R$2.000,00</td>
                                <td>Aguardando Pagamento</td>
                                <td>Boleto Bancário</td>
                            </tr>
                            <tr>
                                <td>1,007</td>
                                <td>23/09/2017</td>
                                <td>R$2.000,00</td>
                                <td>Aguardando Pagamento</td>
                                <td>Boleto Bancário</td>
                            </tr>
                            <tr>
                                <td>1,008</td>
                                <td>23/09/2017</td>
                                <td>R$2.000,00</td>
                                <td>Aguardando Pagamento</td>
                                <td>Boleto Bancário</td>
                            </tr>
                            <tr>
                                <td>1,009</td>
                                <td>23/09/2017</td>
                                <td>R$2.000,00</td>
                                <td>Aguardando Pagamento</td>
                                <td>Boleto Bancário</td>
                            </tr>
                            <tr>
                                <td>1,010</td>
                                <td>23/09/2017</td>
                                <td>R$2.000,00</td>
                                <td>Aguardando Pagamento</td>
                                <td>Boleto Bancário</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>

    <!-- Graphs -->
    <script src="js/Chart.min.js"></script>
    <script>
        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
                datasets: [{
                    data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
                    lineTension: 0,
                    backgroundColor: 'transparent',
                    borderColor: '#007bff',
                    borderWidth: 4,
                    pointBackgroundColor: '#007bff'
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: false
                        }
                    }]
                },
                legend: {
                    display: false,
                }
            }
        });
    </script>




</body>
</html>
