﻿@model IEnumerable<EquipeDelft.Models.Entidades.Produto>

@using EquipeDelft.Repositorios;
 @{   ViewBag.Title = "homepag";
 }



<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <title>Busca de equipamento</title>
    <link href="~/Content/_css/mycss.css" rel="stylesheet"> <!-- Meu css-->
    <!-- Bootstrap core CSS -->
    <link href="~/Content/_bootstrap/bootstrap.min.css" rel="stylesheet"> <!-- boostrap-->
    <!-- Custom styles for this template -->
    <link href="~/Content/_css/album.css" rel="stylesheet"><!-- Mee css-->
    <link href="~/Content/_css/carousel.css" rel="stylesheet">

</head>

<body>
    <header>

        @{ Html.RenderPartial("_navbar"); }

    </header>

    

    <main role="main">
        <div>

            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="~/Content/_img/carousel/banner1.png" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/Content/_img/carousel/banner2.jpg" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/Content/_img/carousel/banner3.jpg" alt="Third slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/Content/_img/carousel/banner4.jpg" alt="Fourth slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/Content/_img/carousel/banner5.jpg" alt="Fifth slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/Content/_img/carousel/banner6.png" alt="Sixth slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/Content/_img/carousel/banner7.png" alt="Seventh slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/Content/_img/carousel/banner8.jpg" alt="Eigth slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>

        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link active" href="~/Home/Produto">Produtos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Usuario/HistoricoDeCompras">Histórico de Compras</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Funcionario/GerenciarEquipamentos">Gerenciamento de Equipamentos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Usuario/Contratos">Contratos</a>
            </li>
        </ul>
        <br><br>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    @foreach (var produto in Model)
                    {
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                @if (produto.Foto != null)
                                 { 
                            <img class="card-img-top" src="@Url.Content(produto.Foto)" alt="@produto.Foto" style="height:320px;">
                                }

                                <div class="card-body">
                                    <p class="card-text"></p>
                                    <p class="card-text">Valor: R$ XXX</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            @Html.ActionLink("Comprar", "FazerPedido", "Usuario", new { id = produto.Id }, new { @class = "btn btn-sm btn-outline-secondary" })
                                            @Html.ActionLink("Detalhes", "Produto", "Home", new { id = produto.Id }, new { @class = "btn btn-sm btn-outline-secondary" })
                                        </div>
                                        <small class="text-muted">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    

                </div>
                </div>
            </div>
    </main>
    <!--
    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">Voltar ao Topo</a>
            </p>
            <p>Copyright &copy; 2018 </p>
        </div>
    </footer>
        -->
    <script src="~/Content/js/jquery-slim.min.js" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="~/Content/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="~/Content/js/vendor/holder.min.js"></script>
</body>
</html>

