﻿@model EquipeDelft.ViewModel.Usuario.FormularioLogin


@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    

<div class="form-horizontal">
    <div style="margin:auto; width:40%;">
        <img src="~/Content/_img/icone.png" alt="" width="72" height="72">
        <h2>Login</h2>
    </div>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })

        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Senha, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })

        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <INPUT id="funcionario" TYPE="RADIO" NAME="OPCAO1" VALUE="funcionario" required=""> Funcionário
            <INPUT id="cliente" TYPE="RADIO" NAME="OPCAO1" VALUE="cliente">  Cliente
            <INPUT id="gerente" TYPE="RADIO" NAME="OPCAO1" VALUE="gerente">  Gerente
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Login" class="btn btn-default" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a href="~/Usuario/CadastroCliente"><p>Novo aqui?</p></a>
        </div>
    </div>


</div>
}

<div>
    <!--@Html.ActionLink("Back to List", "Index") -->
</div>
