﻿
@{
    ViewBag.Title = "Produto";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <title>Carousel Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/_bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Content/_css/carousel.css" rel="stylesheet">

    
    

</head>
<body>
    @{ Html.RenderPartial("_navbar"); }

    <hr class="featurette-divider">
    <main role="main">

        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->
        <div class="container marketing">
            <div class="row featurette">
                @if (ViewBag.Produto.Id != null)
                {
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">@ViewBag.Produto.Nome</h2>
                    <p class="lead">@ViewBag.Produto.Descricao</p>
                    <p class="lead">@ViewBag.Produto.Fornecedor</p>
                    <p class="lead">Valor XXXXXXXX</p>

                    @Html.ActionLink("Adicionar ao Carrinho", "AdicionarCarrinho", "Usuario", new { id = ViewBag.Produto.Id } ,new { @class = "btn btn-sm btn-outline-secondary" })

                    

                </div>

                <div class="col-md-5 order-md-1">
                    <img class="featurette-image img-fluid mx-auto" src="@Url.Content(ViewBag.Produto.Foto)" alt="Imagem id: @ViewBag.Produto.Id" style="width: 430px;">
                </div>
                }
            </div>
        </div><!-- /.container -->

    </main>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="~/Content/js/holder.min.js"></script>
</body>
</html>



