﻿@using EquipeDelft.Models.Entidades
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="~/Home/Index">D • E • L • F • T @DateTime.Now.Year</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto"></ul>
        <div><a href="~/Usuario/Carrinho"><img src="~/Content/_img/carrinho.png" alt="cesta" height="40" width="40"></a></div>
        <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Buscar na loja" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>



        @if (Session["usuarioLogado"] != null)
        {
        <a class="navbar-brand" style="color:white;">Olá, @Session["usuarioLogado"].</a>

        <a class="nav-link" href="~/Home/Login" onclick="logOut()">Sair</a>
    //<p>@Session["usuarioLogado"].Nome()</p>
    //@Html.ActionLink("Log Out", "../Usuarios/Logout")
    //@Html.ActionLink("Log Out", "Entrar", "Usuarios", new { area = "" }, null)
}
else
{
    <a class="nav-link" href="~/Home/Login">Entrar</a>
}


    </div>
</nav>


<script>
    function logOut() {
        //Identity signOut
    }
</script>