.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.float-center {
    margin: 0 auto;
 }
 
 .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
