﻿
@{
    ViewBag.Title = "CadastroFuncionario";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Checkout example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Contente/_css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/Contente/_css/form-validation.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Contente/_css/bootstrap-theme.min.css" type="text/css" />
    <link rel="stylesheet" href="~/Contente/_css/form-validation.css" type="text/css">
    <link rel="stylesheet" href="~/Contente/_css/bootstrap.min.css" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>



</head>

<body class="bg-light">

    <div class="container">
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="??" alt="" width="72" height="72">
            <h2><strong><font size="10"> D • E • L • F • T </font></strong></h2>
            <p class="lead">Cadastro de Funcionários</p>
        </div>
        <div class="row">

            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">Preencha os campos abaixo</h4>
                <form class="needs-validation" novalidate>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="firstName">Primeiro Nome</label>
                            <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                            <div class="invalid-feedback">

                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="lastName">Último Nome</label>
                            <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                            <div class="invalid-feedback">

                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="email">Email <span class="text-muted"></span></label>
                        <input type="email" class="form-control" id="email" placeholder="you@example.com" required>
                        <div class="invalid-feedback">

                        </div>
                    </div>

                    <fieldset>
                        <script type="text/javascript">

        $(document).ready(function() {

            function limpa_formulário_cep() {
                // Limpa valores do formulário de cep.
                $("#rua").val("");
                $("#bairro").val("");
                $("#cidade").val("");
                $("#uf").val("");
                $("#ibge").val("");
            }

            //Quando o campo cep perde o foco.
            $("#cep").blur(function() {

                //Nova variável "cep" somente com dígitos.
                var cep = $(this).val().replace(/\D/g, '');

                //Verifica se campo cep possui valor informado.
                if (cep != "") {

                    //Expressão regular para validar o CEP.
                    var validacep = /^[0-9]{8}$/;

                    //Valida o formato do CEP.
                    if(validacep.test(cep)) {

                        //Preenche os campos com "..." enquanto consulta webservice.
                        $("#rua").val("...");
                        $("#bairro").val("...");
                        $("#cidade").val("...");
                        $("#uf").val("...");


                        //Consulta o webservice viacep.com.br/
                        $.getJSON("https://viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {

                            if (!("erro" in dados)) {
                                //Atualiza os campos com os valores da consulta.
                                $("#rua").val(dados.logradouro);
                                $("#bairro").val(dados.bairro);
                                $("#cidade").val(dados.localidade);
                                $("#uf").val(dados.uf);

                            } //end if.
                            else {
                                //CEP pesquisado não foi encontrado.
                                limpa_formulário_cep();
                                alert("CEP não encontrado.");
                            }
                        });
                    } //end if.
                    else {
                        //cep é inválido.
                        limpa_formulário_cep();
                        alert("Formato de CEP inválido.");
                    }
                } //end if.
                else {
                    //cep sem valor, limpa formulário.
                    limpa_formulário_cep();
                }
            });
        });

                        </script>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="cpf/cnpj">CPF/CNPJ</label>
                                <input type="text" class="form-control" id="cpf_cnpj" placeholder="" value="" required>
                                <div class="invalid-feedback">

                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="rg">RG</label>
                                <input type="text" class="form-control" id="rg" placeholder="" value="" required>
                                <div class="invalid-feedback">

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="nacionalidade">Nacionalidade</label>
                                <input type="text" class="form-control" id="nacionalidade" placeholder="" value="" required>
                                <div class="invalid-feedback">

                                </div>
                            </div>

                            <div class="col-md-5 mb-3">
                                <label for="estadoCivil">Estado Civil</label><br>
                                <select class="custom-select d-block w-100" id="estadoCivil" required>
                                    <option value="">Escolher</option>
                                    <option>Casado(a)</option>
                                    <option>Solteiro(a)</option>
                                    <option>Divorciado(a)</option>
                                    <option>Viúvo(a)</option>

                                </select>
                                <div class="invalid-feedback">
                                    Por favor, selecione.
                                </div>
                            </div>
                        </div>



                        <!-- Inicio do formulario -->

                        <form method="get" action=".">
                            <div class="mb-3">
                                <label for="cep">CEP <span class="text-muted"></span></label>
                                <input type="text" class="form-control" id="cep" placeholder="" required>
                                <div class="invalid-feedback">

                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="rua">Rua <span class="text-muted"></span></label>
                                <input type="text" class="form-control" id="rua" placeholder="" required>
                                <div class="invalid-feedback">

                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="bairro">Bairro <span class="text-muted"></span></label>
                                <input type="text" class="form-control" id="bairro" placeholder="" required>
                                <div class="invalid-feedback">

                                </div>
                            </div>


                            <div class="mb-3">
                                <label for="cidade">Cidade <span class="text-muted"></span></label>
                                <input type="text" class="form-control" id="cidade" placeholder="" required>
                                <div class="invalid-feedback">

                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="uf">Estado <span class="text-muted"></span></label>
                                <input type="text" class="form-control" id="estado" placeholder="" required>
                                <div class="invalid-feedback">

                                </div>
                            </div>

                        </form>
</body>

     </table>
 </fieldset>
<div class="mb-3">
    <label for="telefone">Telefone <span class="text-muted"></span></label>
    <input type="text" class="form-control" id="telefone" placeholder="(DDD)XXXXX-XXXX" required>
    <div class="invalid-feedback">

    </div>
</div>

<div class="mb-3">
    <label for="funcao">Função/Cargo <span class="text-muted"></span></label>
    <input type="text" class="form-control" id="funcao" placeholder="" required>
    <div class="invalid-feedback">

    </div>
</div>

<div class="mb-3">
    <label for="carteiraTrab">Carteira de Trabalho <span class="text-muted"></span></label>
    <input type="text" class="form-control" id="carteiraTrab" placeholder="" required>
    <div class="invalid-feedback">

    </div>
</div>




<hr class="mb-4">
<button class="btn btn-primary btn-lg btn-block" type="submit" onclick="location.href='GestaoDeFuncionarios'">Cadastrar</button>
          </form>
        </div>

<div class="col-md-4 order-md-2 mb-4">
    <label for="foto">Foto <span class="text-muted"></span></label>

    <form action="upload.php" method="post" enctype="multipart/form-data">

        <input type="file" name="fileToUpload" id="fileToUpload">

    </form>

</div>
      </div>
    </div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="~/Contente/js/jquery-3.3.1.slim.min.js"></script>
<script>window.jQuery || document.write('<script src="~/Contente/js/jquery-slim.min.js"><\/script>')</script>
<script src="~/Contente/js/popper.min.js"></script>
<script src="~/Contente/js/bootstrap.min.js"></script>
<script src="~/Contente/js/holder.min.js"></script>
<script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
</script>
  </body>
</html>



