﻿
@{
    ViewBag.Title = "ConsultarRelatorio";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>D.E.L.F.T - Consultar Relatórios Mensais</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="~/Content/_bootstrap//bootstrap.min.css">
    <script src="~/Content/js/bootstrap.min.js"></script>
</head>

<body>
    @{ Html.RenderPartial("_navbar"); }

    <br>

    <div class="container-fluid">
        <div class="row">

            @{ Html.RenderPartial("Gerencia/_sidebar"); }

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2"></h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                        </div>
                    </div>
                </div>

                <h2><center>Relatórios Mensais  </center></h2>
                <br>
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>Mês do Relatório</th>
                                <th>Primeira Atualização</th>
                                <th>Última Atualização</th>
                                <th>Aprovado por</th>
                                <th>Situação</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Dezembro</td>
                                <td>10/12/2018</td>
                                <td>20/12/2018</td>
                                <td>Desireê Cardoso</td>
                                <td>Pendente</td>
                            </tr>
                            <tr>
                                <td>Novembro</td>
                                <td>10/11/2018</td>
                                <td>20/11/2018</td>
                                <td>Desireê Cardoso</td>
                                <td>Aprovado</td>
                            </tr>
                            <tr>
                                <td>Outubro</td>
                                <td>10/10/2018</td>
                                <td>20/10/2018</td>
                                <td>Desireê Cardoso</td>
                                <td>Aprovado</td>
                            </tr>
                            <tr>
                                <td>Setembro</td>
                                <td>10/09/2018</td>
                                <td>20/09/2018</td>
                                <td>Desireê Cardoso</td>
                                <td>Aprovado</td>
                            </tr>
                            <tr>
                                <td>Agosto</td>
                                <td>10/08/2018</td>
                                <td>20/08/2018</td>
                                <td>Desireê Cardoso</td>
                                <td>Aprovado</td>
                            </tr>
                            <tr>
                                <td>Julho</td>
                                <td>10/07/2018</td>
                                <td>20/07/2018</td>
                                <td>Desireê Cardoso</td>
                                <td>Aprovado</td>
                            </tr>
                            <tr>
                                <td>Junho</td>
                                <td>10/06/2018</td>
                                <td>20/06/2018</td>
                                <td>Desireê Cardoso</td>
                                <td>Aprovado</td>
                            </tr>
                            <tr>
                                <td>Maio</td>
                                <td>10/05/2018</td>
                                <td>20/05/2018</td>
                                <td>Desireê Cardoso</td>
                                <td>Aprovado</td>
                            </tr>
                            <tr>
                                <td>Abril</td>
                                <td>10/04/2018</td>
                                <td>20/04/2018</td>
                                <td>Desireê Cardoso</td>
                                <td>Aprovado</td>
                            </tr>
                            <tr>
                                <td>Março</td>
                                <td>10/03/2018</td>
                                <td>20/03/2018</td>
                                <td>Desireê Cardoso</td>
                                <td>Aprovado</td>
                            </tr>
                            <tr>
                                <td>Fevereiro</td>
                                <td>10/02/2018</td>
                                <td>20/02/2018</td>
                                <td>Desireê Cardoso</td>
                                <td>Aprovado</td>
                            </tr>
                            <tr>
                                <td>Janeiro</td>
                                <td>10/01/2018</td>
                                <td>20/01/2018</td>
                                <td>Desireê Cardoso</td>
                                <td>Aprovado</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Content/js/jquery-3.3.1.slim.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
                datasets: [{
                    data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
                    lineTension: 0,
                    backgroundColor: 'transparent',
                    borderColor: '#007bff',
                    borderWidth: 4,
                    pointBackgroundColor: '#007bff'
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: false
                        }
                    }]
                },
                legend: {
                    display: false,
                }
            }
        });
    </script>
</body>
</html>

