﻿
@{
    ViewBag.Title = "GestaoDeFuncionarios";
}

<!DOCTYPE html>

<html lang="pt-br">
<head>
    <title>Gestão de Funcionários</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/Content/_css/mycss.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="~/Content/_bootstrap/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->

    <link href="~/Content/_css/carousel.css" rel="stylesheet">

    <link href="~/Content/_css/offcanvas.css" rel="stylesheet">

    <script src="~/Content/js/bootstrap.min.js"></script>

    <script src="//code.jquery.com/jquery-1.10.2.js"></script>


    <script src="//code.jquery.com/jquery-1.10.2.js"></script>



</head>


<body>
    <header>

        @{ Html.RenderPartial("_navbar"); }



    </header>


    <div class="container-fluid">
        <div class="row">
            @{ Html.RenderPartial("Gerencia/_sidebar"); }





            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2"></h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                        </div>
                    </div>
                </div>
                <main role="main" class="container">

                    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
                        <img class="mr-3" src="~/Content/_img/ICO/bootstrap-outline.svg" alt="" width="48" height="48">
                        <div class="lh-100">
                            <form class="form-inline mt-2 mt-md-0">
                                <h6 class="mb-0 text-white lh-100" style="margin: 0px 50px 50px 0px;">Buscar Funcionário</h6>
                                <input class="form-control mr-sm-2" type="text" placeholder="Pesquisar" aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                            </form>
                            <small>DELFT</small>
                        </div>
                    </div>

                    <div class="my-3 p-3 bg-white rounded shadow-sm">

                        <h6 class="border-bottom border-gray pb-2 mb-0">Resultados:</h6>



                        <div class="media text-muted pt-3">
                            <img style="width: 75px;" src="~/Content/_img/user/marina.jpg" alt="" class="mr-2 rounded">
                            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                <strong class="d-block text-gray-dark">Marina Silva</strong>
                                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                            </p>
                            <span class="d-block p-2 bg-primary text-white">Editar</span>
                        </div>

                        <div class="media text-muted pt-3">
                            <img style="width: 75px;" src="~/Content/_img/user/Ciro.jpg" alt="" class="mr-2 rounded">
                            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                <strong class="d-block text-gray-dark">Ciro Gomes</strong>
                                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                            </p>
                            <span class="d-block p-2 bg-primary text-white">Editar</span>
                        </div>

                        <div class="media text-muted pt-3">
                            <img style="width: 75px;" src="~/Content/_img/user/Bolsonaro.jpg" alt="" class="mr-2 rounded">
                            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                <strong class="d-block text-gray-dark">Bolsonaro</strong>
                                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                            </p>
                            <span class="d-block p-2 bg-primary text-white">Editar</span>
                        </div>

                        <div class="media text-muted pt-3">
                            <img style="width: 75px;" src="~/Content/_img/user/Daciolo.jpg" alt="" class="mr-2 rounded">
                            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                <strong class="d-block text-gray-dark">Cabo Daciolo</strong>
                                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                            </p>
                            <span class="d-block p-2 bg-primary text-white">Editar</span>
                        </div>

                        <div class="media text-muted pt-3">
                            <img style="width: 75px;" src="~/Content/_img/user/Alckmin.jpg" alt="" class="mr-2 rounded">
                            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                <strong class="d-block text-gray-dark">Alckmin</strong>
                                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                            </p>
                            <span class="d-block p-2 bg-primary text-white">Editar</span>
                        </div>
                    </div>


        </div>
    </div>







    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-slim.min.js"><\/script>')</script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    <!-- Graphs -->
    <script src="js/Chart.min.js"></script>
    <script>
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
          datasets: [{
            data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#007bff',
            borderWidth: 4,
            pointBackgroundColor: '#007bff'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: false
              }
            }]
          },
          legend: {
            display: false,
          }
        }
      });
    </script>


</body>
</html>


