﻿
@{
    ViewBag.Title = "ValidarRelatorio";
}

<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>D.E.L.F.T - Validar Relatórios Mensais</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="~/Content/_bootstrap/bootstrap.min.css">
    <script src="~/Content/js/bootstrap.min.js"></script>
</head>

<body>
    @{ Html.RenderPartial("_navbar"); }

    <br>

    <div class="container-fluid">
        <div class="row">

            @{ Html.RenderPartial("Gerencia/_sidebar"); }

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2"></h1>
                </div>

                <h2>Validar Relatórios Mensais</h2>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Aliquam ac augue a quam mattis fringilla.
                    Proin aliquam orci in tellus maximus elementum.
                    Maecenas tristique est quis convallis condimentum.
                    Sed diam urna, laoreet at dolor in, finibus laoreet nisi.
                    Praesent sollicitudin sem eu augue facilisis fermentum.
                    Donec vel ligula metus.
                    Aenean arcu tortor, interdum maximus lectus sed, auctor mattis eros.
                    Sed mattis, nunc non feugiat pellentesque, justo magna fringilla ex, vitae ullamcorper massa arcu vel.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac augue a quam mattis fringilla. Proin aliquam orci in tellus maximus elementum. Maecenas tristique est quis convallis condimentum.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Aliquam ac augue a quam mattis fringilla.
                    Proin aliquam orci in tellus maximus elementum.
                    Maecenas tristique est quis convallis condimentum.
                    Sed diam urna, laoreet at dolor in, finibus laoreet nisi.
                    Praesent sollicitudin sem eu augue facilisis fermentum.
                    Donec vel ligula metus.
                    Aenean arcu tortor, interdum maximus lectus sed, auctor mattis eros.
                    Sed mattis, nunc non feugiat pellentesque, justo magna fringilla ex, vitae ullamcorper massa arcu vel.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac augue a quam mattis fringilla. Proin aliquam orci in tellus maximus elementum. Maecenas tristique est quis convallis condimentum.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Aliquam ac augue a quam mattis fringilla.
                    Proin aliquam orci in tellus maximus elementum.
                    Maecenas tristique est quis convallis condimentum.
                    Sed diam urna, laoreet at dolor in, finibus laoreet nisi.
                    Praesent sollicitudin sem eu augue facilisis fermentum.
                    Donec vel ligula metus.
                    Aenean arcu tortor, interdum maximus lectus sed, auctor mattis eros.
                    Sed mattis, nunc non feugiat pellentesque, justo magna fringilla ex, vitae ullamcorper massa arcu vel.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac augue a quam mattis fringilla. Proin aliquam orci in tellus maximus elementum. Maecenas tristique est quis convallis condimentum.
                </p>
                <p>
                    <a href="#" class="btn btn-primary my-2">Validar</a>
                    <a href="#" class="btn btn-secondary my-2">Invalidar</a>
                </p>
                <!-- Bootstrap core JavaScript
                ================================================== -->
                <!-- Placed at the end of the document so the pages load faster -->
                <script src="js/jquery-3.3.1.slim.min.js"></script>
                <script>window.jQuery || document.write('<script src="js/jquery-slim.min.js"><\/script>')</script>
                <script src="js/popper.min.js"></script>
                <script src="js/bootstrap.min.js"></script>

                <!-- Icons -->
                <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
                <script>
                    feather.replace()
                </script>

                <!-- Graphs -->
                <script src="~/Content/js/Chart.min.js"></script>
                <script>
                    var ctx = document.getElementById("myChart");
                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
                            datasets: [{
                                data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
                                lineTension: 0,
                                backgroundColor: 'transparent',
                                borderColor: '#007bff',
                                borderWidth: 4,
                                pointBackgroundColor: '#007bff'
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: false
                                    }
                                }]
                            },
                            legend: {
                                display: false,
                            }
                        }
                    });
                </script>
</body>
</html>

