﻿@using EquipeDelft.Models.Entidades
@using EquipeDelft.Repositorios
<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <br><br>
            <ul class="nav flex-column">
                <li class="nav-item">
                    @{
                        UsuariosEFRepository userRepository = new UsuariosEFRepository();
                        Usuario user = userRepository.Obter(Session["usuarioLogado"] as String);
                    }

                    @if (Session["usuarioLogado"] != null)
                    {
                        <img src="@Url.Content(user.Foto)" alt="perfil" style="width:100%">
                    }
                    else
                    {
                        <img src="~/Content/_img/imagem.png" alt="perfil" style="width:100%">
                    }
                    <br>
                </li>
                <div class="container body-content">
                    @if (Session["usuarioLogado"] != null)
        {
            <div class="one">
                @(Session["usuarioLogado"])
                @Html.ActionLink("Sair", "Logout", "Usuarios")
            </div>
}
                </div>

                <li class="nav-item">
                    <br>
                    <a class="nav-link" href="~/Usuario/HistoricoDeCompras">
                        <span data-feather="file"></span>
                        Pedidos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Usuario/AcompanharLocacao">
                        <span data-feather="shopping-cart"></span>
                        Acompanhar Locação
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span data-feather="users"></span>
                        Perfil
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span data-feather="bar-chart-2"></span>
                        Avaliações
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Usuario/Contratos">
                        <span data-feather="layers"></span>
                        Contratos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Home/Login">
                        <span data-feather="log-out"></span>
                        Encerrar Sessão
                    </a>
                </li>
            </ul>
    </div>
</nav>
