﻿<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <br><br>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <img src="~/Content/_img/gerente.png" alt="perfil" style="width:100%">
                    <br>
                </li>

                <li class="nav-item">
                    <br>
                    <a class="nav-link" href="~/Funcionario/GerenciarEquipamentos">
                        <span data-feather="edit"></span>
                        Editar Equipamentos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Funcionario/CadastroEquipamento">
                        <span data-feather="edit-2"></span>
                        Cadastrar Equipamento
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Funcionario/GestaoDeFuncionarios">
                        <span data-feather="edit"></span>
                        Editar Funcionário
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Funcionario/CadastroFuncionario">
                        <span data-feather="edit-2"></span>
                        Cadastrar Funcionário
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Funcionario/ValidarContrato">
                        <span data-feather="layers"></span>
                        Contratos Pendentes
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Funcionario/ConsultarRelatorio">
                        <span data-feather="layers"></span>
                        Consultar Relatórios
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Home/Login">
                        <span data-feather="log-out"></span>
                        Encerrar Sessão
                    </a>
                </li>
            </ul>
    </div>
</nav>
